<Section>
    <div class="fluid-container">
        <div class="hero-section">
            <div class="bg-image" style="background-image: url('../images/—Pngtree—farmhouse style kitchen rendering with_8202787 (1).jpg');" height="400px" >

            </div>
        </div>
    </div>
</Section>