<section>
    <div class="container mt-5">
        <div class="row">
            <div class="offset-lg-3 col-lg-6 offset-lg-3">
                <div>
                    <div class="text-center"><h3>Create New Account</h3></div>
                    <form action="/signup" method="post" id="signupForm">
                     <div class="form-group">
                            <label for="name">Name</label>
                            <input type="text" class="form-control" id="email" name="name">
                        </div>
                        <div class="form-group">
                            <label for="email">Email address</label>
                            <input type="email" class="form-control" id="email" name="email">
                        </div>
                        <div class="form-group">
                            <label for="password">Password</label>
                            <input type="password" class="form-control" id="password" name="password">
                        </div>
                         <button type="submit" class="btn btn-warning">Submit</button>
                    </form>
                    <div>
                        <a href="/login">Already have an Account?</a>
                    </div>
                </div>

            </div>

        </div>
    </div>
</section>
<script>
    $(document).ready(function () {
  $('#signupForm').validate({
    rules: {
      name: {
        required: true,
      },
      email: {
        required: true,
        email: true
      },
      password: {
        required: true,
        minlength: 6
      }
    },
    messages: {
      required: "*This field is requied",
      password: {
        minlength: "Requires atleast 6 characters"
      }
    }
  })
})
</script>
